body {
  margin: 0;
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

a, a:focus {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
